gradio
requests
dotenv
google-ai-generativelanguage==0.6.18
google-api-core==2.24.2
google-auth==2.40.1
googleapis-common-protos==1.70.0
imageio-ffmpeg==0.6.0
langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.59
langchain-experimental==0.3.4
langchain-google-genai==2.1.4
langchain-ollama==0.3.2
langchain-openai==0.3.16
langchain-text-splitters==0.3.8
langchainhub==0.1.21
langgraph==0.4.3
numpy 
oauthlib==3.2.2
onnxruntime==1.21.1
openai==1.78.0
openai-whisper==20240930
opencv-python==4.11.0.86
opendatasets==0.1.22
openinference-instrumentation==0.1.28
openinference-instrumentation-llama-index==4.2.1
openinference-semantic-conventions==0.1.17
openpyxl
orjson==3.10.18
pandas
pydantic==2.10.6
pydantic-settings==2.9.1
pydantic_core==2.27.2
python-json-logger==3.3.0
regex
tavily-python==0.7.2
tiktoken==0.9.0
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20250328
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions
ultralytics==8.3.133
ultralytics-thop==2.0.14
wikipedia==1.4.0
yt-dlp==2025.4.30
